/* styles/style.css */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: Outfit, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  position: absolute;
  top: 10px;
  text-align: center;
  width: 100%;
  color: #dbdada;
}

header h1 {
  font-size: 5.5rem;
  margin-top: 100px;
}

.quiz-section {
  background-color: #15e0be23;
  box-shadow: 10px 10px 20px #8f8d8d2f 
            ,-10px -10px 20px #aaaaaa2f;
  border-radius: 20px;
  width: 80%;
  max-width: 900px;
  padding: 40px;
  text-align: start;
  backdrop-filter: blur(10px);
  position: relative;
}

.hidden {
  display: none;
}

h2.question {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  color: #dbdada;
}

h2.result-title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  color: #dbdada;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #3ac07d;
  border-radius: 50%;
  margin-right: 15px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:checked {
  background-color: #3ac07d;
  border-color: #3ac07d;
}

label {
  font-size: 1.3em;
  color: #dadada;
  cursor: pointer;
}

.button {
  margin-top: 30px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}

button#submit,
button#reset,
button#retry {
  background-color: #3ac07d;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button#submit:hover,
button#retry:hover {
  background-color: #49e697;
}

button#reset {
  background-color: #d64545;
}

button#reset:hover {
  background-color: #e46a6a;
}

p.result-score,
p.result-remark {
  font-size: 2.5em;
  text-align: center;
  color: #dadada;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 50%;
  left: 40%;
  width: 30%;
  color: #ffffff;
  
}

footer h3 {
  font-size: 1.2em;
  margin: 0;
  font-weight: lighter;
  letter-spacing: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
  .quiz-section {
    width: 90%;
    padding: 20px;
  }

  h2.question,
  h2.result-title {
    font-size: 2em;
  }

  label {
    font-size: 1em;
  }

  button#submit,
  button#reset,
  button#retry {
    padding: 10px 20px;
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }
}
